.name{
    border: none;
}
h3{
    display: inline-block;
}
.category{
    display: flex;
   
}
.bussines{
    width: 15rem;
    height: 9rem;
    background-color: aqua;
    margin-right: 1rem;
    border-radius: 5px;
}
.personal{
    width: 15rem;
    height: 9rem;
    background-color: goldenrod;
    border-radius: 5px;
}
  
#check-bussines{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 1px solid;
    background-color: blue;
  }
#check-personal{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border: 1px solid;
    background-color: pink;
  }
  .btn{
    width: 31rem;
    background-color: blue;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    color: white;
  }
  label {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;

}

label:before {
    content: "";
    position: absolute;
    width: 3vw;
    height: 3vw;
    background: white;
    border-radius: 50%;
    /* box-shadow: rgba(0, 0, 0, 0.117647) 0 0 .8vw 0, rgba(0, 0, 0, 0.239216) 0 .8vw .8vw 0; */

}

label:after {
    content: "";
    position: absolute;
    width: 5vw;
    height: 5vw;
    background: rgba(255, 255, 255, .5);
    border-radius: 50%;
  
}
.radio:checked + label:after {
    background: transparent;
  
}

#radio-1 + label {
    background: #4285F4;
   
}
#radio-1 + label:before {
    transform: scale(0);
}
#radio-1:checked + label:before {
    transform: scale(1);
}
.lined {
  text-decoration: line-through;
}


  
 